table, th, td {
    border: 2px solid black;
	text-align: left;
	padding: 2px;
	}

a:visited {
    color:blueviolet;
    background-color: palegreen;
    text-decoration: none;
	}

a:hover {
    color: black;
    text-decoration: underline;
	}


h4 {
	text-decoration: underline;
	}
h1 {
		text-decoration: underline;
	}